/* Reset básico */
*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
}

/* Controles (desplegables y botón) encima del mapa */
#controls {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 1000;
  background: white;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}

#controls select,
#controls button {
  margin-right: 8px;
  font-size: 0.9em;
  padding: 4px 6px;
}

body {
  background-color: #f1f1f1;
}

/* Opcional: separación extra para el nuevo select */
#controls select,
#controls button {
  margin-right: 8px;
  font-size: 0.9em;
  padding: 4px 6px;
}

/* Si quisieras que el primer select (fuente-select) esté un poco más separado: */
#fuente-select {
  margin-right: 12px;
}

/* Botón rojo de anuncio */
#btn-anuncio {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #c00;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
}

#anuncio-form {
  position: absolute;
  top: 50px;
  right: 10px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  width: 250px;
}

#anuncio-form label,
#anuncio-form div {
  display: block;
  margin-bottom: 8px;
}

.btn-rojo {
  background: #c00;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
